{% extends "global/Page.html" %}
{% load staticfiles otree %}


{% block title %}
   Регистрация
{% endblock %}

{% block content %}
{% formfield player.lname label="Введите Вашу фамилию:" %}
{% formfield player.fname label="Введите  Ваше имя:" %}
{% formfield player.otchestvo label="Введите Ваше отчество:" %}
{% formfield player.sex label="Ваш пол:" %}
{% formfield player.age label="Ваш возраст:" %}
{% formfield player.city label="Укажите город, в котором Вы закончили школу:" %}

<p>{% formfield player.phone with label="Для получения заработанной суммы Введите номер Вашего телефона (телефон должен начинаться с 8):" %}</p>
<p class="small red">Телефон должен быть привязан к банковской карте (если к Вашей карте не привязан телефон, то введите в поле ответа "0" и обратитесь к организатору после окончания эксперимента).</p>

<br>
<p>
    Чтобы Вы окончательно поняли задание, на следующей странице предлагаем пройти тренировочное задание на примере
    одной пары матриц.
</p>

<button class="otree-btn-next btn btn-primary">Приступить к тренировочному заданию</button>

{% endblock %}


{% block styles %}
    <style type="text/css">
        .red{
            color: red;
        }
        .field-phone{
            width:60% !important;
        }
        input#id_phone {
            max-width: 400px;
        }
    </style>
{% endblock %}

