{% extends "global/Page.html" %}
{% load staticfiles otree %}


{% block title %}
   Регистрация
{% endblock %}

{% block content %}
{% formfield player.fname label="Ваше имя:" %}
{% formfield player.lname label="Вашу фамилию:" %}
{% formfield player.otchestvo label="Ваше отчество:" %}
{% formfield player.sex label="Ваш пол:" %}
{% formfield player.age label="Ваш возраст:" %}
{% formfield player.city label="Укажите город, в котором Вы закончили школу:" %}
<p>
    Чтобы Вы окончательно поняли задание, на следующей странице предлагаем пройти тренировочное задание на примере
    одной пары матриц.
</p>

<button class="otree-btn-next btn btn-primary">Приступить к тренировочному заданию</button>

{% endblock %}