{% extends "global/Page.html" %}
{% load staticfiles otree %}


{% block title %}
   Пожалуйста, ответьте на следующие вопросы
{% endblock %}

{% block content %}

{% formfield player.end_question_1 label="<strong>Устроит ли Вас, если мы переведём выигранную Вами сумму на Ваш телефон (как пополнение счёта)?</strong>" %}

<p>Прочтите следующую ситуацию и выберите наиболее подходящий, по Вашему мнению, ответ: </p>
{% formfield player.end_question_2 label="<strong>За семейным ужином ученик средней школы, который всегда учится только на 'хорошо' и 'отлично', сообщает родителям о том, что получил двойку за контрольную. Как Вы думаете, о чём первым делом спросят его родители? </strong>" %}

{% formfield player.end_question_3 label="<strong>Какую школу Вы окончили?</strong>" %}

{% formfield player.end_question_4 label="<strong>Многие университеты в наши дни пользуются системой рейтингования студентов, ранжируя их по успеваемости. Какая система демонстрации студенческого рейтинга наиболее комфортна для Вас?</strong>" %}

{% formfield player.end_question_5 label="<strong>При просмотре периодического (после каждой сессии) студенческого рейтинга:</strong>" %}

{% formfield player.end_question_6 label="<strong>Отвлекал ли Вас кто-то в ходе эксперимента?</strong>" %}

{% formfield player.end_question_7 label="<strong>Как Вы отвечали на вопросы между раундами?</strong>" %}

{% formfield player.end_question_8 label="<strong>Оцените, насколько данный эксперимент был понятен Вам по шкале от 1 (было абсолютно непонятно) до 5(всё было понятно)</strong>" %}


<button class="otree-btn-next btn btn-primary">Перейти к моему выигрышу</button>

{% endblock %}