{% extends "global/Page.html" %}
{% load staticfiles otree %}


{% block title %}
   Пожалуйста, ответьте на следующие вопросы
{% endblock %}

{% block content %}
<p>Прочтите следующую ситуацию и выберите наиболее подходящий, по Вашему мнению, ответ: </p>
{% formfield player.radio_select_end1 label="ЗДЕСЬ БУДЕТ КАКая-ТО СИТУАЦИЯ" %}

{% formfield player.radio_select_end2 label="Какую школу Вы закончили?" %}

{% formfield player.radio_select_end3 label="Вопрос про отношение к рейтингу" %}

{% formfield player.interruption label="Отвлекал ли Вас кто-то в ходе эксперимента?" %}

{% formfield player.rules_understanding label="Оцените, насколько данный эксперимент был понятен Вам по шкале от 0 (абсолютно непонятно) до 5(полностью понятен)." %}

<button class="otree-btn-next btn btn-primary">Перейти к моему выигрышу</button>

{% endblock %}