{% extends "global/Page.html" %}
{% load staticfiles otree %}


{% block title %}
   Раунд {{ view.round_number }} закончен!
{% endblock %}

{% block content %}

{% formfield player.expected_result label="Как Вы думаете, какое место Вы заняли в этом раунде (введите номер места от 1 до 8)?" %}

{% formfield player.radio_select1 with label="Сколько усилий Вы приложили в этом раунде относительно предыдущего?" %}

{% formfield player.radio_select2 with label="В этом раунде я приложил(а) максимум усилий, так как хочу выиграть деньги." %}

{% formfield player.radio_select3 with label="В этом раунде я приложил(а) максимум усилий, так как хочу ещё больше улучшить свой результат." %}

{% formfield player.radio_select4 with label="В этом раунде я приложил(а) максимум усилий, потому что в любом соревновании я привык(ла) выкладываться в полную силу." %}

<button class="otree-btn-next btn btn-primary">Далее</button>

{% endblock %}