
{% block content %}
<h4> Правила игры </h4>
<p>
    В данном эксперименте принимает участие 20 человек.<br>
    После регистрации Вам необходимо будет подождать несколько минут для подключения всех участников эксперемента!
<br>
Тут расписываем условия ....
<br>
Тут расписываем условия ....
<br>
    После каждого раунда, необходимо дождаться ответов всех участноков для определения Вашего рейтинга.
    Правила для всех раундов идентичны. Раунды независимы.
    В конце эксперимента каждому участнику с максимальным рейтингом будет выплачена сумма выигранных им очков
    плюс плата за участие в размере ____ рублей.
</p>
<p>

</p>



{% endblock %}