
{% block content %}
<h4> Правила игры </h4>
<p>
    В эксперименте одновременно принимает участие группа из 8 человек и Вы один из них!
<p>
    1) Сначала Вам необходимо зарегистрироваться и дождаться подключения остальных участников группы (это может занять до 1-2 минут).
</p>
<p>
    2) Как только все участники будут готовы начать, Вам предстоит выполнять следующее задание в течение 5 раундов:
</p>
<p>
    На Ваш экран в течение 3 минут (длительность <i>одного</i> раунда) будут случайным образом выводиться 2 матрицы с числами.
    <b>Вам необходимо найти максимальное число в каждой из этих матриц, затем сложить эти максимумы и ввести результат сложения в поле ответа.</b>
    Как только ответ введён, появляется новая пара матриц. Вы продолжаете выполнять задание, пока не закончится время.
</p>
<p>
    3) По окончании раунда Вам необходимо ответить на несколько простых вопросов, после чего раунд повторяется вновь.
    <br><i>Все раунды идентичны.</i>
</p>
<p>
    4) Как только Вы прошли все 5 раундов, мы зададим вам ещё несколько вопросов. После ответа на них, на финальной странице эксперимента Вы увидите сумму заработанных Вами денег.
    Денежный перевод поступит Вам сразу после окончания эксперимента на банковскую карту.<br>
</p>
<p>
    <b>Что же по деньгам?</b></p>
<p>
    Даёте как можно больше правильных ответов при решении задания с матрицами==> <i>становитесь первым в своей группе</i>==> получаете приз!<br> <u> Денежный приз:</u> в <i>каждом раунде</i> за ПЕРВОЕ место Вы получите 400 рублей! <br>Всего будет 5 раундов, то есть Ваш максимальный выигрыш может составить 2000 рублей всего за полчаса!<br>
    <u>Важно:</u> Первое место может быть разделено среди нескольких участников при равном количестве баллов, тогда и сумма приза делится <i>поровну</i>.
</p>
<p>
    <b>Ну что? Начинаем?</b>
</p>


{% endblock %}