{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}ДОБРО ПОЖАЛОВАТЬ!{% endblock %}

{% block content %}
<h4> Введение </h4>
<p>
    Сегодня Вы принимаете участие в эксперименте по принятию решений,
    в ходе которого Вы можете заработать деньги. Сумма денег, которую вы можете
    заработать, зависит от Ваших решений и от решений других участников эксперимента.
    Оплата будет производиться конфиденциально в конце эксперимента, и Вы не должны
    сообщать другим участникам о сумме, которую Вы заработали.
    <br>Эксперимент займет приблизительно полтора часа.
</p>
{% include "realefforttask/Instructions.html" %}
<p>

</p>

{% next_button %}
{% endblock %}
