{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}ДОБРО ПОЖАЛОВАТЬ!{% endblock %}

{% block content %}
<p>
    Сегодня Вы принимаете участие в эксперименте, в ходе которого Вы можете заработать деньги.
    Количество заработанных Вами денег будет зависеть от Ваших решений и от решений, принимаемых другими игроками.
    Пожалуйста, внимательно прочитайте правила игры, указанные ниже!<br>
</p>
<p>
    Эксперимент займет <b>около 30 минут</b>. В течение этого времени просим Вас никуда не отлучаться от своего компьютера!
</p>

</p>
{% include "realefforttask/Instructions.html" %}
<p>

</p>

<button class="otree-btn-next btn btn-primary">Приступить к регистрации</button>
{% endblock %}