{% extends "global/Page.html" %}
{% load staticfiles otree %}


{% block title %}
    Выплаты по раундам
{% endblock %}

{% block content %}
 <p> Ниже перечислены Ваши выплаты по раундам <p>

<table class="table">
    <tr>
        <th>Раунд</th>
        <th>Заработок</th>
    </tr>
    {% for p in player.in_all_rounds %}
        <tr>
            <td>{{ p.round_number }}</td>
            <td>
                {{ p.pay|json }} рублей
            </td>
        </tr>
    {% endfor %}
</table>

<p>
Помимо заработанных денег в раундах, Вам будет дополнительно выплачено 120 рублей за участие в эксперименте.
<p>
<p> СПАСИБО ЗА УЧАСТИЕ. <p>

{% endblock %}