{% extends "global/Page.html" %}
{% load staticfiles otree %}


{% block title %}
    Финальный выигрыш
{% endblock %}

{% block content %}
<p> Ниже перечислены Ваши выигрыши по раундам <p>

<table class="table">
    <tr>
        <th>Раунд</th>
        <th>Выигрыш</th>
    </tr>
    {% for p in player.in_all_rounds %}
        <tr>
            <td>{{ p.round_number }}</td>
            <td>
                {{ p.pay|json }} рублей
            </td>
        </tr>
    {% endfor %}
</table>

<p> Выплаты будут обязательно переведены Вам на карту в течение нескольких часов.
<p>
<p> БОЛЬШОЕ СПАСИБО ЗА УЧАСТИЕ! <p>



<button class="otree-btn-next btn btn-primary">Завершить эксперимент</button>
{% endblock %}
