{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}Тренировочное задание{% endblock %}

{% block content %}
        <p> Ваша задача состоит в том, чтобы найти <b>наибольшее число в первой матрице</b> и
          <b>наибольшее число во второй матрице</b>, и затем <b>сложить их</b>. Запишите Ваш ответ в ячейке под матрицами.
        </p>

        <p> Помните, что в настоящих раундах Ваше время будет ограничено до 3 минут!</p>
<div class="row">
      <div class='col-md-6 mb-3 table-responsive-lg' style="text-align:center;">
        <p><strong>Первая матрица</strong></p>
        <table class="table table-bordered" border="1" >
          <tbody>
          <tr style="text-align:center;">
            <td>21</td>
            <td>14</td>
            <td>47</td>
            <td>87</td>
            <td>33</td>
          </tr>
          <tr style="text-align:center;">
            <td>10</td>
            <td>76</td>
            <td>23</td>
            <td>28</td>
            <td>38</td>
          </tr>
          <tr style="text-align:center;">
            <td>32</td>
            <td>90</td>
            <td>87</td>
            <td>52</td>
            <td>97</td>
          </tr>
          <tr style="text-align:center;">
            <td>12</td>
            <td>88</td>
            <td>52</td>
            <td>74</td>
            <td>61</td>
          </tr>
          <tr style="text-align:center;">
            <td>13</td>
            <td>43</td>
            <td>65</td>
            <td>11</td>
            <td>78</td>
          </tr>

        </tbody></table>
      </div>
      <div class='col-md-6 mb-3 table-responsive-lg' style="text-align:center;">
        <p><strong>Вторая матрица</strong></p>
        <table class="table table-bordered" border="1">
          <tbody>
          <tr style="text-align:center;">
            <td>21</td>
            <td>14</td>
            <td>47</td>
            <td>43</td>
            <td>12</td>
          </tr>
          <tr style="text-align:center;">
            <td>10</td>
            <td>11</td>
            <td>65</td>
            <td>76</td>
            <td>23</td>
          </tr>
          <tr style="text-align:center;">
            <td>90</td>
            <td>86</td>
            <td>89</td>
            <td>59</td>
            <td>61</td>
          </tr>
          <tr style="text-align:center;">
            <td>17</td>
            <td>61</td>
            <td>93</td>
            <td>59</td>
            <td>61</td>
          </tr>
          <tr style="text-align:center;">
            <td>43</td>
            <td>48</td>
            <td>95</td>
            <td>12</td>
            <td>78</td>
          </tr>
        </tbody></table>
      </div>
</div>


{% formfield player.training_answer_All with label="Введите сумму" %}


<button class="otree-btn-next btn btn-primary">Завершить тренировочное задание</button>
{% endblock %}

