{% extends "global/Page.html" %}
{% load staticfiles otree %}


{% block title %}
    Задание
{% endblock %}

{% block content %}
<p> Это раунд номер {{group.round_number}}. <p>

<p> Ваша задача состоит в том, чтобы найти <b>наибольшее число в левой матрице</b> и
            <b>наибольшее число в правой матрице</b>, и затем <b>сложить их</b>.
            Запишите Ваш ответ в ячейке под матрицами.
</p>
<p>У Вас есть <b>3 минуты</b> на выполнение этого задания. </p>

<p>
Как будете готовы, нажмите кнопку Next для начала и дождитесь подключения всех участников.
</p>
{% next_button %}

{% endblock %}